.form-row {
  margin-top: 200px;
  margin-left: 250px;
  text-align: center;

  .save-btn {
    width: 100%;
  }
}

.search-row {
 margin-top: 150px;

 .search-text {
 text-align: center; 
 }
}

.orders-row {
  margin-top: 50px;
  text-align: center;

  th {
  text-align: center;
  }
}